@keyframes buzz {
    50% {
      transform: translate(3px); 
      }
    100% {
      transform: translate(-3px); 
      } 
  }
  @keyframes spin {
    from {
      transform: rotateZ(0); 
      }
    to {
      transform: rotateZ(1turn); 
      } 
    }
  @keyframes shake {
    0%, 20%, 100% {
      transform: translateX(0); 
      }
    40%, 80% {
      transform: translateX(-2px); 
      }
    60% {
      transform: translateX(2px); 
      } 
    }
  * {
    box-sizing: border-box; 
  }
  
  body .aboutbackground{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    min-height: 100%;
    width: 100%;
    font-size: 1.8vw;
    font-weight: 100;
    background-color: #141720;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F7F7F6;
    display: flex;
    flex-direction: column;
  }
  
  .aboutbackground.page--detail .site__title {
      margin-top: 0; 
  }
  
  .about-title, .title {
    font-family: 'Rufina', serif; 
    color: #F7F7F6;
  }
  
  .hidden-about {
    opacity: 0; 
  }
  
  .site-about {
    padding: 2rem 3rem; 
  }
  
  .site__title-about {
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative; 
  }
  
  .site__title-about.site__title--separator-about:after {
      position: absolute;
      border-bottom: 3px solid #F79E77;
      width: 40%;
      content: '';
      left: 0;
      bottom: -1.3rem; 
  }
  
  .site__description-about {
    color: #c1bfbf;
    font-size: 1.2rem;
    font-weight: 200;
    padding-top: 1rem;
    z-index: 1; 
  }

  .logo-about-annauniv {
    width: 16vw;
    height: 16vw;
    float: left;
    margin: 3.5rem;
  }

  .logo-about-ced {
    width: 17vw;
    height: 22vw;
    float: left;
    margin: 0rem 3rem 0rem 3rem;
  }

  .logo-about-capitalize {
    width: 17vw;
    height: 17vw;
    float: left;
    margin: 2rem;
  }

  #site__bg canvas{
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .main-about{
    position: absolute;
  }
  
  
  .episode__description-about {
    display: block;
    padding: 2rem auto;
  }
  
  /* mobile first*/
  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    .page--detail .site-about {
      padding-bottom: 5rem;
      padding-top: 5rem; }
  
    .left .site__title-about.site__title--separator-about:after {
      display: none; 
    }
  
    }
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  @media only screen and (min-width: 1000px) {
    /* main page */
    body {
      position: relative; 
    }
  
    .main-about {
      display: flex;
      padding-left: 60px; 
    }
  
    #site__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: block; 
      background-color: #141720;}
  
    .site-about {
      padding-top: 4rem;
      padding-left: 4rem;
      flex: 1; 
    }
  
    .episode__description-about {
      margin-top: 0;
      font-size: 2rem;
      font-weight: 100;
      color: #F7F7F6;
      font-family: 'Source Sans Pro', sans-serif;
    }
  
  
    .page--detail .site-about {
        display: flex;
        padding: 0 0 0 60px; 
    }
  
    
    .left .site__title-about.site__title--separator-about:after {
        display: block;
        width: 100px; 
    }
   
  
    .right .site__description-about {
        color: #1C1F2A;
        font-weight: 500;
        font-size: 1rem;
        margin: 0 5rem auto 5rem;
    }
    
    }
  @media only screen and (min-width: 1400px) {
    .right .site__description-about {
      column-count: 2; 
    } 
  }
  
  /*# sourceMappingURL=dropcast.css.map */
  