*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

.landingbody {
	--color-text: #fff;
	--color-bg: #0e0e0f;
	--color-link: #EC8F7B;
	--color-link-hover: #fff;
	--color-title: #fff;
	--color-subtitle: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Barlow, Arial, sans-serif;
	overflow: hidden;
	height: 100vh;
}
.button {
  border-radius: 3px;
  background-color: skyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 8px;
  width: 100px;
  height:30px;
  right:130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position:fixed;
  text-align:center;
  top:109px;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: fixed;
  opacity: 1;
  
  
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.stripes {
	--color-text: #fff;
	--color-bg: #0e0e0f;
	--color-link: #854aa5;
	--color-link-hover: #fff;
	--color-title: #fff;
	--color-subtitle: #fff;
}

/* Page Loader */

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.logo_corner {
	
	margin:5px;
	max-width:15%;
  	max-height:15%;
	width: auto;
	height: auto;
	position: absolute;
	top: 1em;
	left: 1em;
}
.social{
	
	width: 150px;
	margin:0.5px;
	height: 100px;
	opacity:100;
	position: absolute;
	top: 1em;
	left: 1em;
}

.dates {
	position: absolute;
	top: 5vh;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: calc(2vw + 1vh + .5vmin);
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
	line-height: 1;
}

.frame__article {
	line-height: 1;
}


.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.content__title {
	position: relative;
	width: 70vw;
	color: var(--color-title);
	text-transform: uppercase;


	top: 0vh;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: calc(2vw + 1vh + .5vmin);
	
}

.content__subtitle span {
	display: inline-block;
	white-space: pre;
	transform-origin: 50% -50%;
	position: relative;
}

.content__subtitle {
	position: relative;
	margin: 0;
	color: var(--color-subtitle);
	font-weight: 700;

	margin: 0;
	top: 25vh;
	text-align: center;
	font-size: calc(2vw + 1vh + .5vmin);
}

.content__tagline {
	position: absolute;
	margin: 0;
	bottom: 15vh;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: calc(2vw + 1vh + .5vmin);
}

.landscape {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #000;
}

sup{
	font-size: 2.3vw;
}
