@font-face {
    font-family: Poppins-SemiBold;
    src: local('Poppins-SemiBold'), url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Regular;
	src: local('Poppins-Regular'), url('../fonts/Poppins-Regular.ttf');
}  

.sponsors-body{
    margin: 0;
    height: 100vh;
    overflow: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background: rgb(48, 48, 48);
    font-weight: 500;
}

.fontchange-sponsor{
    font-family: Poppins-SemiBold;
    font-weight: 100;
    font-size: 2em;
    color: #f5f377;
}

.sponsors-buffer{
    font-size: 3em;
}

.heading-buffer{
    font-size: calc(4vw + 4vh + .5vmin);
    font-family: Poppins-SemiBold;
}

.heading-sponsors{
    margin: 100px auto 40px auto;
    max-width: 110%;
    font-family: Poppins-SemiBold;
    font-size: 5vw;
}

.heading-sponsors img{
    width: 100%;
}

.content-sponsors{
    width :100%; 
    height:auto ;
    text-align: center;
    margin-top:10%; 
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(2vw + 1vh + .5vmin)
}

@media screen and (min-width: 53em) {
	body {
		padding: 0;
    }
}

@media screen and (max-width:768px){
    .heading-sponsors{
        font-size: 32px;
    }
}