@font-face {
    font-family: Poppins-SemiBold;
    src: local('Poppins-SemiBold'), url('../fonts/Poppins-SemiBold.ttf');
  }

.sponsors-body{
    margin: 0;
    height: 100vh;
    overflow: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background: rgb(32, 31, 31);
    font-weight: 500;
}

.sponsors-buffer{
    font-size: 3em;
}

.heading-buffer{
    font-size: calc(4vw + 4vh + .5vmin);
    font-family: Poppins-SemiBold;
}

.heading-sponsors{
    max-width: 100%;
    font-size: 6em;
    text-align: center;
    margin-top:35%;
}

.heading-sponsors img{
    width: 100%;
}

.content-sponsors{
    width :100%; 
    height:auto ;
    text-align: center;
    margin-top:10%; 
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(2vw + 1vh + .5vmin)
}