*,
*::after,
*::before {
	box-sizing: border-box;
}

.workshops {
	--color-text: #fdfdff;
    --color-bg: #141414;
	--color-link: #fdebeb;
    --color-link-hover: #faeb66;
    --color-info: #272526;
    --grid-item-bg: #39c4c8;
    --color-close: #ec1752;
	font-family: Futura, "futura-pt", sans-serif;
	min-height: 100vh;
	color: #cacfd1;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
}

.workshop-description {
	font-size : 1.2vw;
}

.workshop-fees {
	font-size : 1.5vw;
	color: #eff163;
	font-family: Barlow, Arial, sans-serif;
	font-weight : 700;
}
.workshop-titles {
	color: #64faaf;
	font-family: Barlow, Arial, sans-serif;
	font-weight : 500;
	font-size : 1.1vw;
}

.workshop-subtitles {
	color: #fc0658;
	font-family: Barlow, Arial, sans-serif;
	font-weight : 700;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a.workshops-anchor {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a.workshops-anchor:hover,
a.workshops-anchor:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon-workshops {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
}

.frame a:hover {
	color: #4c33f7;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	text-align: center;
	font-size: 1rem;
}

.codrops-header__title {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0.15em 0.15em 0.15em 0.5em;
	padding: 0.25em;
}

.title {
	text-align: center;
}

.title__name,
.title__sub {
	font-weight: normal;
	margin: 0;
	font-size: 1rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid-wrap-workshops {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 4rem 1rem 0;
}

.grid-wrap-attractions {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
	padding: 12rem 1rem 0;
}

.grid-wrap--hidden-workshops {
	height: 0;
}

.grid-workshops {
	margin: 0 auto;
	position: relative;
	display: flex;
}

.js .grid-workshops {
	display: block;
}

.grid__item-workshops {
	width: 275px;
	position: relative;
	padding: 3rem;
	margin-bottom: 4rem;
}

.grid__item-wrap-workshops {
	position: relative;
}

.grid__item-bg-workshops {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
}

.grid__item-img-workshops {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item-workshops:nth-child(even) .grid__item-img-workshops {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item-workshops:nth-child(odd) .grid__item-img-workshops {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title-workshops {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	transform-origin: 0 50%;
}

.grid__item-number-workshops {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.grid__item-number-workshops > span {
	display: inline-block;
}

.content-workshops {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	pointer-events: none;
}

.js .content-workshops {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.content__item-workshops {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-workshops {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current-workshops {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro-workshops {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content__item-img-workshops {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img-workshops {
	visibility: hidden;
}

.content__item-title-workshops {
	position: relative;
	font-size: 6vw;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
}

.content__item-title-workshops > span {
	white-space: pre;
	display: inline-block;
}

.content__item-subtitle-workshops {
	text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 3rem auto;
}

.content__item-text-workshops {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.content__item-text-workshops p {
	margin: 0;
}

.content__close-workshops {
	position: absolute;
	top: 0.75rem;
	left: 50%;
	z-index: 10000;
	transform: translateX(-50%);
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: var(--color-text);
}

.content__close-workshops:focus {
	outline: none;
}

.content__item--current-workshops ~ .content__close-workshops {
	pointer-events: auto;
}

.content__indicator-workshops {
	position: absolute;
	top: calc(100vh - 6rem);
	left: calc(50% - 0.75rem);
	display: none;
}

.js .content__item-title-workshops > span,
.js .content__item-subtitle-workshops,
.js .content__item-text-workshops,
.content__close-workshops,
.content__indicator-workshops {
	opacity: 0;
}

@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
	.codrops-header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrops-links {
		margin: 0 0 0 1.5rem;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number-workshops {
		right: -2.45rem;
	}
	.grid__item-title-workshops {
		margin-left: -0.25rem;
	}
	.content__item-subtitle-workshops {
		font-size: 3vw;
	}
	.content__item-text-workshops {
  		column-count: 1;
  		column-gap: 20px;
  	}
	.content__item-img-workshops {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle-workshops {
		max-width: 50%;
	}
	.content__indicator-workshops {
		display: block;
	}
}
